.recipesBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    max-width: 400px;
    width: auto;
    height: auto;
    max-height: 434px;
    gap: 24px;
    padding: 16px 16px 32px 16px;
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 30px;
    transition: ease-in-out 0.5s;
    z-index: 1;
}

.heart {
    z-index: 3;
}

.recipesGrid :hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.041);
}

.gridPhoto {
    width: 100%;
    height: auto;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 25px;
    pointer-events: none;
}

.saves {
    position: absolute;
    width: 12%;
    height: auto;
    right: 8.5%;
    top: 8%;
    transform: none;
}

.recipeName {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 8px;
}

.recipeName:hover {
    transform: none;
    box-shadow: none
}

.recipesDetails {
    display: flex;
    margin-left: 8px;
    align-items: start;
    justify-content: flex-start;
    gap: 16px;
    pointer-events: none;
    max-height: 30px;
}

.detail {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    width: auto;
    max-height: 30px;
    text-align: start;
}

.recipesIcons {
    width: 1.6rem;
    height: auto;
}

.recipesDetails p {
    font-size: 0.875rem;
    font-weight: 500;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);

}