.blogPostTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    gap: 32px;
    margin-bottom: 64px;
}

.blogPostTop .blogAuthor {
    margin-bottom: 16px;
}

.blogPostExplanation {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.blogPostImg {
    max-width: 1280px;
    max-height: 854px;
    border-radius: 25px;
    width: 95%;
}

.contentWrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    gap: 50px;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 80px;

    max-width: 840px;
}

.content article {
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.content p {
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

.content h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -4%;

}

.phrase {
    width: 100%;
    min-height: 224px;
    height: auto;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 48px 40px;

}

.phrase h2 {
    font-weight: 500;
    font-style: italic;
    font-size: 2rem;
    line-height: 4rem;
    letter-spacing: 4%;
}

.shareContent {
    max-width: 131px;
}

.shareContent p {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 10%;
    vertical-align: bottom;
    text-transform: uppercase;

}

.shareContent .social {
    margin-top: 32px;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.blogPostRecipes {
    display: flex;
    flex-direction: column;
    margin-top: 160px;
    max-width: 1600px;
    align-content: center;
    align-items: center;
}

@media (max-width: 768px) {

    .content {
        width: 90%;
        max-width: 100vw;
        margin: 0 auto;
    }
}